<html>
<head>
  <title>Thanks for your order!</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <section>
    <p>
      Congratulations! You are subscribed!
      <a href="/campgrounds">Go To Campgrounds</a>.
    </p>
  </section>
</body>
</html>